* {
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #78c5d7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

main{
    background-color: #fce172;
    text-align: center;
}

main, header, footer, .hero{
    border: 4px solid white;
    font-family: helvetica, garamond, arial; 
}

a {
    color: black;
}

.hero {
    background-color: #78c5d7;
    text-align: center;
}