p, li, img, h2 {
    border: 2px solid red;
}
body {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container{
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;

}
h1, h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /*aligns the contents of the container within the container*/
}
h2:hover {
    background-color: lightgoldenrodyellow;
}
.main_img {
    width: 90%;
    display: block;
    margin: 0 auto;
    /*centers the container itself*/
}
.social  {
    text-align: center;
}

#img-container {
    text-align: center;
}

main p {
    padding: 10px 100px;
    line-height: 1.5em;
}

footer p{
    padding-left: 60px;
}

p{
    font-size: 1.3em;
}